<ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink (click)="getFiles()">Réglementations Fiscales</a>
    <ng-template ngbNavContent>
      <div class="card mt-3 px-0 container-sm">
        <div class="card-header">List of Files</div>
        <ul
          class="list-group list-group-flush"
          *ngFor="let file of fileInfos | async"
        >
          <li class="list-group-item">
            <a href="{{ file.url }}">{{ file.name }}</a>
          </li>
        </ul>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink (click)="getFiles()">Rapports</a>
    <ng-template ngbNavContent>
      <div class="card mt-3 px-0 container-sm">
        <div class="card-header">List of Files</div>
        <ul
          class="list-group list-group-flush"
          *ngFor="let file of fileInfos | async"
        >
          <li class="list-group-item">
            <a href="{{ file.url }}">{{ file.name }}</a>
          </li>
        </ul>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink (click)="getFiles()">Autres Lois et Réglementations</a>
    <ng-template ngbNavContent>
      <div class="card mt-3 px-0 container-sm">
        <div class="card-header">List of Files</div>
        <ul
          class="list-group list-group-flush"
          *ngFor="let file of fileInfos | async"
        >
          <li class="list-group-item">
            <a href="{{ file.url }}">{{ file.name }}</a>
          </li>
        </ul>
      </div>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>