<ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink (click)="getFilesFromSearchText()"
      >{{'reg_fisc' | translate}}</a
    >
    <ng-template ngbNavContent>
      <div class="card mt-3 px-0 container-sm">
        <div class="container-sm my-2">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                id="search-text"
                aria-describedby="search-text"
                [(ngModel)]="searchText"
                (input)="getFilesFromSearchText()"
                placeholder="{{'search' | translate}}"
                autofocus
              />
            </div>
          </div>
        </div>
        <div class="card-header">{{'files_list' | translate}}</div>
        <ul
          class="list-group list-group-flush"
          *ngFor="let file of fileInfos | async"
        >
          <li class="list-group-item">
            <a
              class="filename text-decoration-none"
              href="{{ file.url }}"
              appHighlight
              [searchedWord]="searchText"
              [fileName]="file.name"
              [fileUrl]="file.url"
              [classToApply]="'fw-bold'"
              >{{ file.name }}</a
            >
          </li>
        </ul>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink (click)="getFilesFromSearchText()">{{'rapports' | translate}}</a>
    <ng-template ngbNavContent>
      <div class="card mt-3 px-0 container-sm">
        <div class="container-sm my-2">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                id="search-text"
                aria-describedby="search-text"
                [(ngModel)]="searchText"
                (input)="getFilesFromSearchText()"
                placeholder="{{'search' | translate}}"
                autofocus
              />
            </div>
          </div>
        </div>
        <div class="card-header">{{'files_list' | translate}}</div>
        <ul
          class="list-group list-group-flush"
          *ngFor="let file of fileInfos | async"
        >
          <li class="list-group-item">
            <a
              class="filename text-decoration-none"
              href="{{ file.url }}"
              appHighlight
              [searchedWord]="searchText"
              [fileName]="file.name"
              [fileUrl]="file.url"
              [classToApply]="'fw-bold'"
              >{{ file.name }}</a
            >
          </li>
        </ul>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink (click)="getFilesFromSearchText()"
      >{{'autres_lois' | translate}}</a
    >
    <ng-template ngbNavContent>
      <div class="card mt-3 px-0 container-sm">
        <div class="container-sm my-2">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                id="search-text"
                aria-describedby="search-text"
                [(ngModel)]="searchText"
                (input)="getFilesFromSearchText()"
                placeholder="{{'search' | translate}}"
                autofocus
              />
            </div>
          </div>
        </div>
        <div class="card-header">{{'files_list' | translate}}</div>
        <ul
          class="list-group list-group-flush"
          *ngFor="let file of fileInfos | async"
        >
          <li class="list-group-item">
            <a
              class="filename text-decoration-none"
              href="{{ file.url }}"
              appHighlight
              [searchedWord]="searchText"
              [fileName]="file.name"
              [fileUrl]="file.url"
              [classToApply]="'fw-bold'"
              >{{ file.name }}</a
            >
          </li>
        </ul>
      </div>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
