<div class="container-sm mt-5">
  <h3 class="heading-liens">Liens utiles</h3>

  <div class="list-group">
    <a
      href="http://www.tresor.mr/fr/"
      target="_blank"
      class="list-group-item list-group-item-action url-title"
    >
      Direction Générale du Trésor et de la Comptabilité Publique
      (http://www.tresor.mr/fr/)
    </a>
    <a
      href="http://www.budget.mr/"
      target="_blank"
      class="list-group-item list-group-item-action url-title"
    >
      Direction Générale du Budget (http://www.budget.mr/)</a
    >
    <a
      href="http://boost.budget.mr/"
      target="_blank"
      class="list-group-item list-group-item-action url-title"
    >
      Boost Direction Générale du Budget (http://boost.budget.mr/)</a
    >
    <a
      href="http://www.impots.gov.mr/"
      target="_blank"
      class="list-group-item list-group-item-action url-title"
    >
      Direction Générale des Impôts (http://www.impots.gov.mr/)</a
    >
    <a
      href="http://www.douanes.mr/"
      target="_blank"
      class="list-group-item list-group-item-action url-title"
    >
      Direction Générale des Douanes (http://www.douanes.mr/)</a
    >
    <a
      href="http://www.domaines.gov.mr/"
      target="_blank"
      class="list-group-item list-group-item-action url-title"
    >
      Direction Générale des Domaines et du Patrimoine de l’Etat (
      http://www.domaines.gov.mr/)
    </a>
  </div>
</div>
