<div class="container-sm mt-5">
  <h3 class="heading-liens">{{'presentation_liens' | translate}}</h3>

  <div class="list-group">
    <a
      href="http://www.tresor.mr/fr/"
      target="_blank"
      class="list-group-item list-group-item-action url-title"
    >
    {{'tresor' | translate}}
    </a>
    <a
      href="http://www.budget.mr/"
      target="_blank"
      class="list-group-item list-group-item-action url-title"
    >
    {{'budget' | translate}}</a
    >
    <a
      href="http://boost.budget.mr/"
      target="_blank"
      class="list-group-item list-group-item-action url-title"
    >
    {{'boost_budget' | translate}}</a
    >
    <a
      href="http://www.impots.gov.mr/"
      target="_blank"
      class="list-group-item list-group-item-action url-title"
    >
    {{'impots' | translate}}</a
    >
    <a
      href="http://www.douanes.mr/"
      target="_blank"
      class="list-group-item list-group-item-action url-title"
    >
    {{'douanes' | translate}}</a
    >
    <a
      href="http://www.domaines.gov.mr/"
      target="_blank"
      class="list-group-item list-group-item-action url-title"
    >
    {{'domaines' | translate}}
    </a>
  </div>
</div>
