<h1 class="text-center m-3">{{ "plus_actualites" | translate }}</h1>
<div class="row">
  <div class="col-md-4" *ngFor="let older_news_item of olderNewsList">
    <div class="card">
      <div
        class="embed-responsive embed-responsive-16by9"
        *ngIf="older_news_item?.news_video"
      >
        <iframe
          class="embed-responsive-item"
          [src]="older_news_item.news_video! | safeUrl"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div *ngIf="older_news_item?.news_image">
        <img
          class="card-img-top"
          [src]="older_news_item.news_image!"
          alt="Card image cap"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title" *ngIf="currentLang === 'fr'">
          {{ older_news_item.news_title! | textShorten: 50 }}
        </h5>
        <h5 class="card-title" *ngIf="currentLang === 'ar'">
          {{ older_news_item.news_title_ar! | textShorten: 50 }}
        </h5>
        <p class="card-text" *ngIf="currentLang === 'fr'">
          {{ older_news_item.news_info! | textShorten: 250 }}
        </p>
        <p class="card-text" *ngIf="currentLang === 'ar'">
          {{ older_news_item.news_info_ar! | textShorten: 250 }}
        </p>
        <a
          class="btn btn-primary"
          routerLink="news/{{ older_news_item.id }}"
          >{{ "savoir_plus" | translate }}</a
        >
      </div>
    </div>
  </div>
</div>
