<div
  class="container-sm d-flex flex-column justify-content-center align-items-center my-4"
>
  <img
    alt="ministre des finances"
    src="/assets/images/ministre.jpg"
    class="img-fluid"
  />
  <h3 class="my-5">MOHAMED LEMINE OULD DHEHBY</h3>
  <h5 class="my-3">BIOGRAPHIE</h5>
  <div class="card container-sm">
    <div class="card-body p-5">
      <ul>
        <li><p>Né le: 09/05/1966 à: Zouèrate</p></li>
        <li>
          <p>Situation familiale: marié, père de deux filles et d’un garçon</p>
        </li>
      </ul>
    </div>
  </div>

  <h5 class="my-3">FORMATION</h5>
  <div class="card container-sm">
    <div class="card-body p-5">
      <ul>
        <li>
          <p>
            Docteur de l’Université de Nice Sophia-Antipolis en sciences
            économiques, 09 Juillet 2004
          </p>
        </li>
        <li>
          <p>
            DEA en Macrodynamique et Finance Internationale, CEMAFI, Nice,
            Septembre 2000
          </p>
        </li>
        <li>
          <p>
            Attestation de réussite à l’écrit et à l’oral de la 4ème année,
            Langue et Littérature anglaise 90/96 - (mémoire de maîtrise non
            soutenu), Université de Nouakchott
          </p>
        </li>
        <li>
          <p>
            Licence en Langue et Littérature anglaises, Juin 1995, Université de
            Nouakchott
          </p>
        </li>
        <li>
          <p>
            Maîtrise en sciences économiques, Université de Nouakchott,
            1986-1990
          </p>
        </li>
        <li>
          <p>
            Première année«Maths Physique», Ecole Normale Supérieure, 1985-1986
          </p>
        </li>
        <li>
          <p>
            Baccalauréat Série Mathématiques, Option Français, Session normale,
            Juillet 1985, Lycée National
          </p>
        </li>
      </ul>
    </div>
  </div>

  <h5 class="my-3">CURSUS PROFESSIONNEL</h5>
  <div class="card container-sm">
    <div class="card-body p-5">
      <h5 class="mb-4">Grade : Administrateur des régies financières</h5>
      <ul>
        <li><p>Ministre des Finances depuis le 08 août 2019</p></li>
        <li>
          <p>
            Directeur Général du Trésor et de la Comptabilité Publique, MF, du
            1er octobre 2015 au 8 août 2019
          </p>
        </li>
        <li>
          <p>
            Directeur Général des Domaines et du Patrimoine de l’Etat, MF du 23
            octobre 2014 au 1er octobre 2015
          </p>
        </li>
        <li>
          <p>
            Directeur Général des Projets et Programmes d’Investissement, MAED
            du 26 janvier2011 au 23octobre 2014
          </p>
        </li>
        <li>
          <p>
            Directeur Général du Trésor et de la Comptabilité Publique, MF, du 6
            novembre 2008 au 26 janvier 2011
          </p>
        </li>
        <li>
          <p>
            Directeur de la Prévision et de l’analyse économique, MEF ; du 14
            février 2008 au 6 novembre 2008
          </p>
        </li>
        <li>
          <p>
            Directeur du Trésor et de la Comptabilité Publique du 24 Août 2005
            au 14 février 2008
          </p>
        </li>
        <li>
          <p>
            Cadre au Service des Etudes à la Direction du Budget et des Comptes
            (DBC) du Ministère des Finances (MF), Octobre 1994 - Février 1996
          </p>
        </li>
        <li>
          <p>Chef du service des Etudes budgétaires à la DBC/MF Février 1996</p>
        </li>
        <li>
          <p>
            Consultant macro-économiste au Centre Mauritanien d’Analyse des
            Politiques (CMAP)du 16 Janvier 2005 au 19 juillet 2005
          </p>
        </li>
      </ul>

      <h5 class="my-4">Mouvements associatifs et postes électifs:</h5>
      <ul>
        <li><p>Président du bureau CoP Mauritanie GRD 2013 - 2019</p></li>
        <li>
          <p>
            Président de l’Association Internationale des Services du Trésor
            (AIST) octobre 2017-octobre 2018
          </p>
        </li>
        <li>
          <p>
            Président du Conseil d’administration du Fonds Fiduciaire « BACoMaB
            » depuis juillet 2013 à janvier 2016 et administrateur de janvier
            2010 à janvier 2016
          </p>
        </li>
        <li>
          <p>
            Membre du bureau exécutif de l’Association Mauritanienne de Suivi
            Evaluation (AMSE),Juillet 2004-août 2005
          </p>
        </li>
        <li>
          <p>
            Président de l’association des Etudiants Mauritaniens de Nice,
            Décembre 2003-Décembre 2004
          </p>
        </li>
        <li>
          <p>
            Membre élu (étudiant) du Conseil Scientifique de l’Université de
            Nice Sophia-Antipolis, mars 2003-mars 2005 (mandat de deux ans)
          </p>
        </li>
      </ul>

      <h5 class="my-4">Décorations:</h5>
      <ul>
        <li><p>Chevalier de l’ordre du mérite national, 2010</p></li>
        <li><p>Médaille de reconnaissance nationale, 2008</p></li>
      </ul>
    </div>
  </div>

  <h5 class="my-3">Langues</h5>
<div class="card container-sm">
  <div class="card-body p-3"></div>
  <ul>
    <li><p>Arabe, Français et anglais</p></li>
  </ul>
</div>
