<div
  class="container-sm d-flex flex-column justify-content-center align-items-center my-4"
>
  <img
    alt="ministre des finances"
    src="/assets/images/ministre.jpg"
    class="img-fluid"
  />
  <h3 class="my-5">{{'ministre_name' | translate}}</h3>
  <h5 class="my-3">{{'biographie' | translate}}</h5>
  <div class="card container-sm">
    <div class="card-body p-5">
      <ul>
        <li><p>{{'birth' | translate}}</p></li>
        <li>
          <p>{{'situation_familiale' | translate}}</p>
        </li>
      </ul>
    </div>
  </div>

  <h5 class="my-3">{{'formation' | translate}}</h5>
  <div class="card container-sm">
    <div class="card-body p-5">
      <ul>
        <li>
          <p>
            {{'2004' | translate}}
          </p>
        </li>
        <li>
          <p>
            {{'2000' | translate}}
          </p>
        </li>
        <li>
          <p>
            {{'90/96' | translate}}
          </p>
        </li>
        <li>
          <p>
            {{'95' | translate}}
          </p>
        </li>
        <li>
          <p>
            {{'86-90' | translate}}
          </p>
        </li>
        <li>
          <p>
            {{'85-86' | translate}}
          </p>
        </li>
        <li>
          <p>
            {{'85' | translate}}
          </p>
        </li>
      </ul>
    </div>
  </div>

  <h5 class="my-3">{{'cursus' | translate}}</h5>
  <div class="card container-sm">
    <div class="card-body p-5">
      <h5 class="mb-4">{{'grade' | translate}}</h5>
      <ul>
        <li><p>{{'grade-1' | translate}}</p></li>
        <li>
          <p>
            {{'grade-2' | translate}}
          </p>
        </li>
        <li>
          <p>
            {{'grade-3' | translate}}
          </p>
        </li>
        <li>
          <p>
            {{'grade-4' | translate}}
          </p>
        </li>
        <li>
          <p>
            {{'grade-5' | translate}}
          </p>
        </li>
        <li>
          <p>
            {{'grade-6' | translate}}
          </p>
        </li>
        <li>
          <p>
            {{'grade-7' | translate}}
          </p>
        </li>
        <li>
          <p>
            {{'grade-8' | translate}}
          </p>
        </li>
        <li>
          <p>{{'grade-9' | translate}}</p>
        </li>
        <li>
          <p>
            {{'grade-10' | translate}}
          </p>
        </li>
      </ul>

      <h5 class="my-4">{{'movement' | translate}}</h5>
      <ul>
        <li><p>{{'movement-1' | translate}}</p></li>
        <li>
          <p>
            {{'movement-2' | translate}}
          </p>
        </li>
        <li>
          <p>
            {{'movement-3' | translate}}
          </p>
        </li>
        <li>
          <p>
            {{'movement-4' | translate}}
          </p>
        </li>
        <li>
          <p>
            {{'movement-5' | translate}}
          </p>
        </li>
        <li>
          <p>
            {{'movement-6' | translate}}
          </p>
        </li>
      </ul>

      <h5 class="my-4">{{'decor' | translate}}</h5>
      <ul>
        <li><p>{{'decor-1' | translate}}</p></li>
        <li><p>{{'decor-2' | translate}}</p></li>
      </ul>
    </div>
  </div>

  <h5 class="my-3">{{'langues' | translate}}</h5>
  <div class="card container-sm">
    <div class="card-body p-5 pb-4">
      <ul>
        <li><p>{{'langues_ministre' | translate}}</p></li>
      </ul>
    </div>
  </div>
</div>