<h1 class="text-center m-3">Recent News</h1>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="card" *ngFor="let recent_news_item of recentNewsList">
      <div
        class="embed-responsive embed-responsive-16by9"
        *ngIf="recent_news_item.news_video"
      >
        <iframe
          class="embed-responsive-item"
          [src]="recent_news_item.news_video | safeUrl"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div *ngIf="recent_news_item.news_image">
        <img
          class="card-img-top"
          src="{{ recent_news_item.news_image }}"
          alt="Card image cap"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ recent_news_item.news_title! | textShorten:50}}</h5>
        <p class="card-text">
          {{ recent_news_item.news_info! | textShorten:400}}
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
