/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "/src/app/styles/variables";

@font-face {
  font-family: $french-font;
  src: url(\assets\fonts\Roboto-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: $french-font;
  src: url(\assets\fonts\Roboto-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: $arabe-font;
  src: url(\assets\fonts\Tajawal-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: $arabe-font;
  src: url(\assets\fonts\Tajawal-Bold.ttf);
  font-weight: bold;
}

body {
  background-color: $my-overall-background-color;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: $french-font;

  &:lang(ar) {
    font-family: $arabe-font;
  }
}
